*{
    box-sizing: border-box;
}

body{
    font-style: arial, helvetica, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #333;
}

a:visited{
    color: blueviolet;
}

a:hover{
    color: crimson:
}

#heading{
    padding: 5px;
    text-align: center;
    background-color: rgb(250, 250, 250);
}

.navbar {
    float: left;
    width: 20%;
}

.nav-item:hover{
    background-color: antiquewhite;
}

#navbar-2{
    width: 100%;
}

#navbar-2 ul li:nth-child(6){
    color: crimson:
}

.container{
    margin: 0px;
    padding: 0px;
}

.sidebar {
    float: left;
    width: 15%;
    background-color: floralwhite;
    margin: 0px;
}

.ul-1{
    list-style-type: none;
}

#ul-2{
    padding:10px;
}

#ul-2 li{
    list-style-type: none;
}

.main{
    float: right;
    width: 85%;
}

.dropdown {
    padding: 5px;
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown button{
    background-color: aliceblue;
    color: #333;
}

.card-deck{
    margin-bottom:15px;
    float: right;
    width:100%;
    box-sizing: border-box;
    padding-top: 10px;
}

.card {
    width: 300px;
}

.card small{
    text-decoration: line-through;
}