.App {
  text-align: center;
  background-color: #0f0f0f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-gap: 0.25rem;
  padding: 0.25rem;
  margin-top: 1rem;
  background-color: #0f0f0f;
}

.input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding-top: 1rem;
  background-color: #0f0f0f;
}

.city {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  padding: 0 px;
}

.save-button {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  padding: 0 px;
}

.output {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.user-details-list{
  display: grid;
  grid-template-columns: 30% 50% 20%;
}