<!DOCTYPE html>
<html lang="en">

<head>
    <title>Input Output Template</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid m-3 p-5">
        <h1>Heading</h1>
        <div class="main">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="input">Enter a number</label>
                    <input id="inputNum" class="form-control" type="text" name="input">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md2">
                    <button id="btnIn" class="btn btn-primary" type="button">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-4" id="result">
                    <p>Result will be shown here</p>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="./Input_Output_Template.js"></script>

</html>