.App {
  text-align: center;
  background: #0f0f0f;  background: #0f0f0f;  background: #0f0f0f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products-table {
  display: grid;
  justify-content: center;
}

.products-table-head {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 1 rem;
  margin-bottom: 0.5rem;
  color: aliceblue;
}

.products-table-body {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 0.125rem;
  font-size: 14px;
  color: aliceblue;
  justify-content: stretch;
}

.button {
  background-color: #282c34;
  color: antiquewhite;
  border-color: black;
  border: 0.125rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}