<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="container-fluid">
        <div class="row justify-content-center pt-2">
            <div class="col-auto">
                <h2>Add Movie</h2>
            </div>
        </div>
        <form class="pt-3" action="/addMovie" method="POST">
            <div class="form-group row">
                <label class="col-2 pt-2" for="name"><h6>Name&nbsp;</h6></label>
                <input class="form-control col-6" type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="form-group row">
                <label class="col-2 pt-2" for="hero"><h6>Hero&nbsp;</h6></label>
                <input class="form-control col-6" type="text" name="hero" id="hero" placeholder="Hero">
            </div>
            <div class="form-group row">
                <label class="col-2 pt-2" for="heroine"><h6>Heroine&nbsp;</h6></label>
                <input class="form-control col-6" type="text" name="heroine" id="heroine" placeholder="Heroine">
            </div>
            <div class="form-group row">
                <label class="col-2 pt-2" for="budget"><h6>Budget&nbsp;</h6></label>
                <input class="form-control col-6" type="text" name="budget" id="budget" placeholder="Budget">
            </div>
            <div class="form-group row">
                <h6 class="col-2 pt-2">Who is Favorite</h6>
                <div class="col-6 pt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="favorite" id="favoriteHero" value="Hero">
                        <label class="form-check-label" for="favoriteHero"><h6>&nbsp;Hero</h6></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="favorite" id="favoriteHeroine" value="Heroine">
                        <label class="form-check-label" for="favoriteHeroine"><h6>&nbsp;Heroine</h6></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="favorite" id="favoriteBoth" value="Both Hero and Heroine">
                        <label class="form-check-label" for="favoriteBoth"><h6>&nbsp;Both Hero and Heroine</h6></label>
                    </div>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <a href="/listMovies">
                    <button class="btn primary btn-dark col-auto" type="submit">Add Movie</button>
                </a>
            </div>
        </form>
    </div>
</div>