<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="container">
        <div class="row justify-content-center pt-2">
            <div class="col-auto">
                <h2>List of Movies</h2>
            </div>
        </div>
        {{#each data}}
        <div class="row justify-content-center p-2">
            <div class="col-4"><h6>{{this.name}}</h6></div>
        </div>            
        {{/each}}

    </div>
</div>