.App {
  text-align: center;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  list-style-type: none;
}

.user-icon {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  justify-content: right;
  align-items: center;
}

.user-login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user-login {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  align-self: center;
}

.user-registration-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user-registration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  align-self: center;
}