.App {
  text-align: center;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  list-style-type: none;
}

.user-icon {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  justify-content: right;
  align-items: center;
}

.user-login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user-login {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  align-self: center;
}

.user-registration-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user-registration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  align-self: center;
}

/* Categories Components */

.categories-tab-panel-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  justify-content: center;
}

#categories-table, #categories-table-body {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 1fr;
}

#sub-categories-table, #sub-categories-table-body {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr 1fr;
}

#sub-sub-categories-table, #sub-sub-categories-table-body {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr 1fr;
}

.add-categories {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: center;
  justify-self: center;
}

.sub-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: center;
  justify-self: center;
}

.sub-sub-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: center;
  justify-self: center;
}

/* Product Components */

.add-product {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
}

.add-description {
  width: 60%;
}

.header-navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: stretch;
  align-items: center;
}

.admin-navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.user-navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.user-login-logout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: right;
  align-items: center;
  align-content: flex-end;
}

.login-link, .register-link, .logout-link {
  align-self: flex-end;
}

.product-image-in-list {
  width: 100px;
  height: 100px;;
}

/* Product Page */

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: stretch;
  align-items: center;
}

.product-container{
  display: grid;
  grid-template-rows: repeat(2, 1r);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: stretch;
  align-items: center;
}

.product-container, .product-info {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
}

.product-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

/* Ratings Components */

.ratings-display {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.ratings-table-rows {
  display: grid;
  grid-template-rows: auto;
}

.ratings-table-columns {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-gap: 0.5rem;
  /* padding: 0.5rem;
  margin: 0.5rem; */
  align-items: baseline;
}

/* User Review Component */

.user-review, .review-box {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: stretch;
  align-items: center;
  align-self: center;
  align-content: center;
}

.review-text-box{
  width: 80%;
}

.user-review-buttons {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  justify-self: center;
}