.App {
  text-align: center;
  background-color: #0f0f0f;
  color: aliceblue;
  padding: 1rem;
}

a{
  text-decoration: none;
  color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content:space-around;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

.header-list-items {
  justify-content: center;
  text-align: center;
}

.home-page {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content:space-around;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

.home-page-items {
  justify-content: center;
  text-align: center;
}

.products-table{
  display: grid;
  grid-template-rows: auto;
  padding: 0.5rem;
  margin: 0.5rem;
}

.products-table-head{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.products-table-body{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.filters{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.add-product{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}