.App {
  text-align: center;
  background-color: #0f0f0f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1rem;
  padding: 1rem;
  grid-gap: 1rem;
}

.filter {
  display: grid;
  width: 100%;
  justify-content: center;
  margin: 0.25rem;
}

.list-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: stretch;
  margin: 0.25rem;
  padding: 0.25rem; 
  grid-gap: 0.25rem;
}

.list-group-item {
  padding: 0px;
  justify-items: center;
  align-self: stretch;
  color: aliceblue;
  background-color: #0f0f0f;
}

.list-item > .btn {
  padding: 0px;
  margin: 0px;
  justify-items: center;
  align-self: center;
}

#Active {
  background-color: crimson;
}

#Completed {
  background-color: forestgreen;
}

#dark {
  color: aliceblue;
  background-color: #0f0f0f;
}