/* Entire navbar heading*/
.header{
  background: rgba(0, 0, 0, 0.849);
}
/*Homepage Heading in h1 and hover ----1st heading*/

.header h1{
  color: white;
}
.header h1:hover{
color: green;
text-decoration-line: none;
}

/* Homepage Changing text-color of class header-navbar admin-navbar ----2nd and 3rd heading*/

li.nav-item a{
  color: red;
  /* font-size: medium;
  font-weight: 300;
  font-family: 'Arial Narrow Bold'; */
}
li.nav-item a:hover{
  color:green;
}

/*Homepage Search box width set*/
div.input-group{
  width: 43vw;
}


/*Popout whole page on load*/
.popout {
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
}
@keyframes popout {
  from{transform:scale(0)}
  80%{transform:scale(1.2)}
  to{transform:scale(1)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0)}
  80%{-webkit-transform:scale(1.2)}
  to{-webkit-transform:scale(1)}
}

/* Zoom In #1 */
.popoutonhover img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.popoutonhover:hover img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.App {
  text-align: center;
  background-color: rgb(22, 22, 22);
  padding-bottom: 300px;
  color: beige;
}

a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  list-style-type: none;
}

.user-icon {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  justify-content: right;
  align-items: center;
}

.user-login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user-login {
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 2rem;
  border-style: solid;
  border-width: thin;
  border-color: aliceblue;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  /* padding: 0.5rem; */
  width: 25%;
  height:80%;
  align-self: center;
}

.user-registration-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user-registration {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  border-style: solid;
  border-width: thin;
  border-color: aliceblue;
  /* padding-top: 20px; */
  padding: 25px;
  /* padding: 0.5rem; */
  align-self: center;
}


/* profile page heading bold*/
.user-profile-heading{
  font-weight: bold;
}
/*Homepage text color on card*/
.card-subtitle{
  text-decoration-color: black ;
}

.header-navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  justify-content: stretch;
  align-items: center;
}

.admin-navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.9rem;
  padding: 0.25rem;
}

.user-navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

.user-login-logout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: right;
  align-items: center;
  align-content: flex-end;
}

.login-link, .register-link, .logout-link {
  align-self: flex-end;
}

.product-image-in-list {
  width: 100px;
  height: 100px;;
}

/* BlogPost */

.write-blog-post {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  align-items: stretch;
  align-content: center;
  border-style: solid;
  border: 0.25 rem;
  border-radius: 10px;
  border-color: aquamarine;
}

.post-text {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  align-items: stretch;
  align-content: center;
}

/* User BlogPosts */

.user-blog-posts {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  align-items: stretch;
  align-content: stretch;
  border-style: solid;
  border: 0.25 rem;
  border-radius: 10px;
  border-color: aquamarine;
}

.user-blog-post-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  align-content: stretch;
  align-items: stretch;
}

.user-post-text {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  align-items: stretch;
  align-content: center;
  text-align: left;
}

.user-post-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  align-content: stretch;
  align-items: stretch;
}