* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    padding: 5%%;
    margin: 5%;
}

a {
    text-decoration: none;
}

a:link{
    color: #333;
}

a:active{
    color: crimson;
}

a:visited{
    color: blueviolet;
}

a:hover{
    background-color: grey;
}

header {
    background-color: bisque;
    padding: 2%;
}

header h2{
    color: #333;
}

.container {
    align-content: stretch;
    align-items: center;
}

main {
    width: 75%;
    float: right;
    background-color: beige;
    align-items: center;
    height: 500px;
}

main table{
    width: 100%;
    box-sizing: border-box;
}

table, th, td{
    border: #333 1px solid;
    border-collapse: collapse;
}

th,td{
    padding: 5px;
}

th{
    height: 50px;
}

tr:hover{
    background-color: blanchedalmond;    
}

aside {
    width: 25%;
    height: 500px;
    float: left;
    background-color: mistyrose;
}

aside ul{
    padding: 5%;
}

aside li{
    list-style: none;
}

footer {
    clear: both;
    background-color: antiquewhite;
}

footer img{
    position:  relative;
    left: 5%;
    width: 90%;
    height: 100px;
}